@use "../core" as *;

.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 10px auto 40px;

  * {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid;
    margin-bottom: 10px;
  }

  input,
  textarea {
    outline: none;
  }

  button {
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background: get($colors, "grey");
    }
  }
}
